{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "next",
    "next/core-web-vitals"
  ],
  "rules": {
    "@typescript-eslint/explicit-module-boundary-types": "off"
  }
}
